name: Mage

on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    types: [opened, synchronize, reopened]

env:
  FORCE_COLOR: true

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - '1.22'

    steps:

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Build & Test
      run: ./mage
